<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title></title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="{% static 'css/calmel_global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/calmel_index.css' %}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
  </head>
  <body>
    <article class="frame-article">
      <div class="calmel-time-div">
        <div class="rectangle-div"></div>
        <div class="div">캠퍼스맵</div>
        <div class="div1">밀알관</div>
        <div class="div2">일립관</div>
        <div class="div3">갈멜관</div>
        <div class="div4">복음관</div>
        <div class="div5">모리아관</div>
        <div class="galmel-classroom-div">
          <img class="galmel-room-icon" alt="" src="{% static 'svg/galmel-room.svg' %}" />
          <div class="galmel-text-div">
            <div class="text12-div">갈305호</div>
            <div class="text11-div">갈303호</div>
            <div class="text10-div">갈301호</div>
            <div class="text09-div">컴소실습실4</div>
            <div class="text08-div">컴소실습실3</div>
            <div class="text07-div">컴소실습실2</div>
            <div class="text06-div">전산지원팀</div>
            <div class="text05-div">컴소실습실1</div>
            <div class="text04-div">브니엘홀</div>
            <div class="text03-div">교양정보4실</div>
            <div class="text02-div">교양정보3실</div>
            <div class="text01-div">도서관 서가</div>
          </div>
          <img class="galmel-floor-icon" alt="" src="{% static 'svg/galmel-floor.svg' %}" />
          <div class="galmel-floor-text-div">
            <div class="floortext04-div">3층</div>
            <div class="floortext03-div">2층</div>
            <div class="floortext02-div">1층</div>
            <div class="floortext01-div">B1층</div>
          </div>
        </div>
        <div class="footer-div">
          <div class="tail-div">Tail</div>
          <div class="tail-div">Seungjin</div>
          <div class="tail-div">cherryshine@bible.ac.kr</div>
          <div class="tail-div">Eunwoo</div>
          <div class="tail-div">Jisu</div>
        </div>
        <div class="timeschdule-div">
          <div class="time-standard-title-div">
            <div class="box-standard-div"></div>
            <img
              class="line-standard-icon"
              alt=""
              src="{% static 'public/line-standard.svg' %}"
            />
            <div class="period-standard-div">교시</div>
            <div class="day-standard-div">요일</div>
          </div>
          <div class="time-in-box-days-div">
            <div class="fri09-div"></div>
            <div class="tur09-div"></div>
            <div class="wed09-div"></div>
            <div class="tue09-div"></div>
            <div class="mon09-div"></div>
            <div class="fri08-div"></div>
            <div class="tur08-div"></div>
            <div class="wed08-div"></div>
            <div class="tue08-div"></div>
            <div class="mon08-div"></div>
            <div class="fri07-div"></div>
            <div class="tur07-div"></div>
            <div class="wed07-div"></div>
            <div class="tue07-div"></div>
            <div class="mon07-div"></div>
            <div class="fri06-div"></div>
            <div class="tur06-div"></div>
            <div class="wed06-div"></div>
            <div class="tue06-div"></div>
            <div class="mon06-div"></div>
            <div class="fri05-div"></div>
            <div class="tur05-div"></div>
            <div class="wed05-div"></div>
            <div class="tue05-div"></div>
            <div class="mon05-div"></div>
            <div class="fri04-div"></div>
            <div class="tur04-div"></div>
            <div class="wed04-div"></div>
            <div class="tue04-div"></div>
            <div class="mon04-div"></div>
            <div class="fri03-div"></div>
            <div class="tur03-div"></div>
            <div class="wed03-div"></div>
            <div class="tue03-div"></div>
            <div class="mon03-div"></div>
            <div class="fri02-div"></div>
            <div class="tur02-div"></div>
            <div class="wed02-div"></div>
            <div class="tue02-div"></div>
            <div class="mon02-div"></div>
            <div class="fri01-div"></div>
            <div class="tur01-div"></div>
            <div class="wed01-div"></div>
            <div class="tue01-div"></div>
            <div class="mon01-div"></div>
          </div>
          <div class="time-days-title-div">
            <div class="daybox05-div"></div>
            <div class="daybox04-div"></div>
            <div class="daybox03-div"></div>
            <div class="daybox02-div"></div>
            <div class="daybox01-div"></div>
            <div class="fri-div">금</div>
            <div class="tur-div">목</div>
            <div class="wed-div">수</div>
            <div class="tue-div">화</div>
            <div class="mon-div">월</div>
          </div>
          <div class="time-class-title-box-div">
            <div class="time-class-box09-div"></div>
            <div class="time-class-box08-div"></div>
            <div class="time-class-box07-div"></div>
            <div class="time-class-box06-div"></div>
            <div class="time-class-box05-div"></div>
            <div class="time-class-box04-div"></div>
            <div class="time-class-box03-div"></div>
            <div class="time-class-box02-div"></div>
            <div class="time-class-box01-div"></div>
          </div>
          <div class="time-class-title-div">
            <div class="timeclass09-div">9교시</div>
            <div class="timeclass08-div">8교시</div>
            <div class="timeclass07-div">7교시</div>
            <div class="timeclass06-div">6교시</div>
            <div class="timeclass05-div">5교시</div>
            <div class="timeclass04-div">4교시</div>
            <div class="timeclass03-div">3교시</div>
            <div class="timeclass02-div">2교시</div>
            <div class="timeclass01-div">1교시</div>
          </div>
        </div>
      </div>
    </article>

    <script></script>
  </body>
</html>
