<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title></title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="{% static 'css/illip_global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/illip_index.css' %}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <article class="frame-article" data-animate-on-scroll>
      <div class="illippage-time-div">
        <div class="illip-classroom-div">
          <img
            class="illip-blank-icon"
            alt=""
            src="{% static 'svg/illip-blank.svg' %}"
          /><img
            class="illip-floor-icon"
            alt=""
            src="{% static 'svg/illip-floor.svg' %}"
          /><img class="illip-room-icon" alt="" src="{% static 'svg/illip-room.svg' %}" />
          <div class="illip-text-div">
            <div class="text22-div">교수연구실</div>
            <div class="text21-div">세미나실</div>
            <div class="text20-div">켄텐츠제작실</div>
            <div class="text19-div">교수학습센터</div>
            <div class="text18-div">일509호</div>
            <div class="text17-div">일507호</div>
            <div class="text16-div">일505호</div>
            <div class="text15-div">일503호</div>
            <div class="text14-div">디뷰리핑</div>
            <div class="text13-div">일405호</div>
            <div class="text12-div">교수연구실</div>
            <div class="textf1-div">기본간호실습실2</div>
            <div class="text11-div">기본간호실습실</div>
            <div class="text10-div">수업행동분석실</div>
            <div class="text09-div">일립여자기숙사</div>
            <div class="text08-div">일립남자기숙사</div>
            <div class="text07-div">어린이집</div>
            <div class="text06-div">수업지원센터</div>
            <div class="text05-div">관장실</div>
            <div class="text04-div">일립여자기숙사</div>
            <div class="text03-div">기계실</div>
            <div class="text01-div">보육실습실</div>
          </div>
          <div class="illip-floor-text-div">
            <div class="floor8-div">7층</div>
            <div class="floor7-div">6층</div>
            <div class="floor6-div">5층</div>
            <div class="floor5-div">4층</div>
            <div class="floor4-div">3층</div>
            <div class="floor3-div">2층</div>
            <div class="floor2-div">1층</div>
            <div class="floor1-div">B1층</div>
          </div>
        </div>
        <div class="base-div">
          <div class="division-line"></div>
          <div class="menu-div">
            <div class="campusmapbutton-div">캠퍼스맵</div>
            <div class="line2-div"></div>
            <div class="campusmapbutton-div">밀알관</div>
            <div class="line2-div"></div>
            <div class="campusmapbutton-div">일립관</div>
            <div class="line2-div"></div>
            <div class="campusmapbutton-div">복음관</div>
            <div class="line2-div"></div>
            <div class="campusmapbutton-div">갈멜관</div>
            <div class="line2-div"></div>
            <div class="campusmapbutton-div">모리아관</div>
          </div>
        </div>
        <div class="footer-div">
          <div class="campusmapbutton-div">Tail</div>
          <div class="campusmapbutton-div">Seungjin</div>
          <div class="campusmapbutton-div">cherryshine@bible.ac.kr</div>
          <div class="campusmapbutton-div">Eunwoo</div>
          <div class="campusmapbutton-div">Jisu</div>
        </div>
        <div class="timeschdule-div">
          <div class="time-standard-title-div">
            <div class="box-standard-div"></div>
            <img
              class="line-standard-icon"
              alt=""
              src="{% static 'svg/line-standard.svg' %}"
            />
            <div class="period-standard-div">교시</div>
            <div class="day-standard-div">요일</div>
          </div>
          <div class="time-in-box-days-div">
            <div class="fri09-div"></div>
            <div class="tur09-div"></div>
            <div class="wed09-div"></div>
            <div class="tue09-div"></div>
            <div class="mon09-div"></div>
            <div class="fri08-div"></div>
            <div class="tur08-div"></div>
            <div class="wed08-div"></div>
            <div class="tue08-div"></div>
            <div class="mon08-div"></div>
            <div class="fri07-div"></div>
            <div class="tur07-div"></div>
            <div class="wed07-div"></div>
            <div class="tue07-div"></div>
            <div class="mon07-div"></div>
            <div class="fri06-div"></div>
            <div class="tur06-div"></div>
            <div class="wed06-div"></div>
            <div class="tue06-div"></div>
            <div class="mon06-div"></div>
            <div class="fri05-div"></div>
            <div class="tur05-div"></div>
            <div class="wed05-div"></div>
            <div class="tue05-div"></div>
            <div class="mon05-div"></div>
            <div class="fri04-div"></div>
            <div class="tur04-div"></div>
            <div class="wed04-div"></div>
            <div class="tue04-div"></div>
            <div class="mon04-div"></div>
            <div class="fri03-div"></div>
            <div class="tur03-div"></div>
            <div class="wed03-div"></div>
            <div class="tue03-div"></div>
            <div class="mon03-div"></div>
            <div class="fri02-div"></div>
            <div class="tur02-div"></div>
            <div class="wed02-div"></div>
            <div class="tue02-div"></div>
            <div class="mon02-div"></div>
            <div class="fri01-div"></div>
            <div class="tur01-div"></div>
            <div class="wed01-div"></div>
            <div class="tue01-div"></div>
            <div class="mon01-div"></div>
          </div>
          <div class="time-days-title-div">
            <div class="daybox05-div"></div>
            <div class="daybox04-div"></div>
            <div class="daybox03-div"></div>
            <div class="daybox02-div"></div>
            <div class="daybox01-div"></div>
            <div class="fri-div">금</div>
            <div class="tur-div">목</div>
            <div class="wed-div">수</div>
            <div class="tue-div">화</div>
            <div class="mon-div">월</div>
          </div>
          <div class="time-class-title-box-div">
            <div class="time-class-box09-div"></div>
            <div class="time-class-box08-div"></div>
            <div class="time-class-box07-div"></div>
            <div class="time-class-box06-div"></div>
            <div class="time-class-box05-div"></div>
            <div class="time-class-box04-div"></div>
            <div class="time-class-box03-div"></div>
            <div class="time-class-box02-div"></div>
            <div class="time-class-box01-div"></div>
          </div>
          <div class="time-class-title-div">
            <div class="timeclass09-div">9교시</div>
            <div class="timeclass08-div">8교시</div>
            <div class="timeclass07-div">7교시</div>
            <div class="timeclass06-div">6교시</div>
            <div class="timeclass05-div">5교시</div>
            <div class="timeclass04-div">4교시</div>
            <div class="timeclass03-div">3교시</div>
            <div class="timeclass02-div">2교시</div>
            <div class="timeclass01-div">1교시</div>
          </div>
        </div>
      </div>
    </article>

    <script>
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
