<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title></title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
  </head>
  <body>
    <article class="frame-article">
      <div class="homepage-div">
        <div class="menu-div">
          <div class="division-line"></div>
          <div class="menu-div1">
            <div class="group-div">
              <a href="#"><div class="campusmapbutton-div">캠퍼스맵</div></a>
              <div class="line2-div"></div>
              <a href="miral/"><div class="miralbutton-div">밀알관</div></a>
              <div class="line2-div1"></div>
              <a href="illip/"><div class="illipbutton-div">일립관</div></a>
              <div class="line2-div2"></div>
              <a href="bokkeum/"><div class="bokkeumbutton-div">복음관</div></a>
              <div class="line2-div3"></div>
              <a href="calmel/"><div class="calmelbutton-div">갈멜관</div></a>
              <div class="line2-div4"></div>
              <a href="moria/"><div class="moriabutton-div">모리아관</div></a>
            </div>
          </div>
        </div>
        <img
        class="background-1-icon"
        alt=""
        src="{% static 'public/background-1@2x.png' %}"
      />
      <div class="building-div">
        <a href="calmel/"><img
          class="calmelbldg-1-icon"
          alt=""
          src="{% static 'public/calmelbldg-1@2x.png' %}"
        /></a>
        <a href="moria/"><img
          class="moriabldg-1-icon"
          alt=""
          src="{% static 'public/moriabldg-1@2x.png' %}"
        /></a>
        <a href="bokkeum/"><img
          class="bokeumbldg-1-icon"
          alt=""
          src="{% static 'public/bokeumbldg-1@2x.png' %}"
        /></a>
        <a href="illip/"><img
          class="illipbldg-1-icon"
          alt=""
          src="{% static 'public/illipbldg-1@2x.png' %}"
        /></a>
        <a href="miral/"><img
          class="miralbldg-1-icon"
          alt=""
          src="{% static 'public/miralbldg-1@2x.png' %}"
        /></a>
        </div>
        <div class="footer-div">
          <div class="tail-div">Tail</div>
          <div class="tail-div">Seungjin</div>
          <div class="tail-div">cherryshine@bible.ac.kr</div>
          <div class="tail-div">Eunwoo</div>
          <div class="tail-div">Jisu</div>
        </div>
      </div>
      <img class="vector-icon" alt="" src="{% static 'public/vector-1.svg' %}" />
    </article>

    <script></script>
  </body>
</html>
