<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title></title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="{% static 'css/moria_global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/moria_index.css' %}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <article class="frame-article">
      <div class="moria-time-div">
        <div class="moria-classroom-div">
          <img
            class="moria-blank-icon"
            alt=""
            src="{%static 'svg/moria-blank.svg' %}"
          /><img class="moria-room-icon" alt="" src="{% static 'svg/moria-room.svg' %}" />
          <div class="moria-text-div">
            <div class="text22-div">교수연구실</div>
            <div class="text21-div">모310호</div>
            <div class="text20-div">모308호</div>
            <div class="text19-div">모305호</div>
            <div class="text18-div">모301호</div>
            <div class="text17-div">모212호</div>
            <div class="text16-div">
              <span class="text16-txt-span"
                ><p class="p">평생교육원</p>
                <p class="p1">행정실</p></span
              >
            </div>
            <div class="text15-div">
              <span class="text16-txt-span"
                ><p class="p">평생교육원</p>
                <p class="p1">원장실</p></span
              >
            </div>
            <div class="text14-div">
              <span class="text16-txt-span"
                ><p class="p">평생교육원</p>
                <p class="p1">상담실</p></span
              >
            </div>
            <div class="text13-div">모204호</div>
            <div class="text12-div">
              <span class="text16-txt-span"
                ><p class="p">평생교육원</p>
                <p class="p1">회의실</p></span
              >
            </div>
            <div class="text11-div">열람실</div>
            <div class="text07-div">총학생회</div>
            <div class="text06-div">피아노실</div>
            <div class="text05-div">학회실</div>
            <div class="text04-div">미디실</div>
            <div class="text03-div">모음C실</div>
            <div class="text02-div">모음B실</div>
            <div class="text01-div">
              <span class="text16-txt-span"
                ><p class="p">평생교육원</p>
                <p class="p1">창고</p></span
              >
            </div>
          </div>
          <img class="moria-floor-icon" alt="" src="{% static 'svg/moria-floor.svg' %}" />
          <div class="moria-floor-text-div">
            <div class="floortext04-div">3층</div>
            <div class="floortext03-div">2층</div>
            <div class="floortext02-div">1층</div>
            <div class="floortext01-div">B1층</div>
          </div>
        </div>
        <div class="footer-div">
          <div class="tail-div">Tail</div>
          <div class="tail-div">Seungjin</div>
          <div class="tail-div">cherryshine@bible.ac.kr</div>
          <div class="tail-div">Eunwoo</div>
          <div class="tail-div">Jisu</div>
        </div>
        <div class="menu-div">
          <div class="division-line"></div>
          <div class="menu-div1">
            <div class="group-div">
              <div class="campusmapbutton-div">캠퍼스맵</div>
              <div class="line2-div"></div>
              <div class="miralbutton-div">밀알관</div>
              <div class="line2-div1"></div>
              <div class="illipbutton-div">일립관</div>
              <div class="line2-div2"></div>
              <div class="bokkeumbutton-div">복음관</div>
              <div class="line2-div3"></div>
              <div class="calmelbutton-div">갈멜관</div>
              <div class="line2-div4"></div>
              <div class="moriabutton-div">모리아관</div>
            </div>
          </div>
        </div>
        <div class="timeschdule-div">
          <div class="time-standard-title-div">
            <div class="box-standard-div"></div>
            <img
              class="line-standard-icon"
              alt=""
              src="{% static 'svg/line-standard.svg' %}"
            />
            <div class="period-standard-div">교시</div>
            <div class="day-standard-div">요일</div>
          </div>
          <div class="time-in-box-days-div">
            <div class="fri09-div"></div>
            <div class="tur09-div"></div>
            <div class="wed09-div"></div>
            <div class="tue09-div"></div>
            <div class="mon09-div"></div>
            <div class="fri08-div"></div>
            <div class="tur08-div"></div>
            <div class="wed08-div"></div>
            <div class="tue08-div"></div>
            <div class="mon08-div"></div>
            <div class="fri07-div"></div>
            <div class="tur07-div"></div>
            <div class="wed07-div"></div>
            <div class="tue07-div"></div>
            <div class="mon07-div"></div>
            <div class="fri06-div"></div>
            <div class="tur06-div"></div>
            <div class="wed06-div"></div>
            <div class="tue06-div"></div>
            <div class="mon06-div"></div>
            <div class="fri05-div"></div>
            <div class="tur05-div"></div>
            <div class="wed05-div"></div>
            <div class="tue05-div"></div>
            <div class="mon05-div"></div>
            <div class="fri04-div"></div>
            <div class="tur04-div"></div>
            <div class="wed04-div"></div>
            <div class="tue04-div"></div>
            <div class="mon04-div"></div>
            <div class="fri03-div"></div>
            <div class="tur03-div"></div>
            <div class="wed03-div"></div>
            <div class="tue03-div"></div>
            <div class="mon03-div"></div>
            <div class="fri02-div"></div>
            <div class="tur02-div"></div>
            <div class="wed02-div"></div>
            <div class="tue02-div"></div>
            <div class="mon02-div"></div>
            <div class="fri01-div"></div>
            <div class="tur01-div"></div>
            <div class="wed01-div"></div>
            <div class="tue01-div"></div>
            <div class="mon01-div"></div>
          </div>
          <div class="time-days-title-div">
            <div class="daybox05-div"></div>
            <div class="daybox04-div"></div>
            <div class="daybox03-div"></div>
            <div class="daybox02-div"></div>
            <div class="daybox01-div"></div>
            <div class="fri-div">금</div>
            <div class="tur-div">목</div>
            <div class="wed-div">수</div>
            <div class="tue-div">화</div>
            <div class="mon-div">월</div>
          </div>
          <div class="time-class-title-box-div">
            <div class="time-class-box09-div"></div>
            <div class="time-class-box08-div"></div>
            <div class="time-class-box07-div"></div>
            <div class="time-class-box06-div"></div>
            <div class="time-class-box05-div"></div>
            <div class="time-class-box04-div"></div>
            <div class="time-class-box03-div"></div>
            <div class="time-class-box02-div"></div>
            <div class="time-class-box01-div"></div>
          </div>
          <div class="time-class-title-div">
            <div class="timeclass09-div">9교시</div>
            <div class="timeclass08-div">8교시</div>
            <div class="timeclass07-div">7교시</div>
            <div class="timeclass06-div">6교시</div>
            <div class="timeclass05-div">5교시</div>
            <div class="timeclass04-div">4교시</div>
            <div class="timeclass03-div">3교시</div>
            <div class="timeclass02-div">2교시</div>
            <div class="timeclass01-div">1교시</div>
          </div>
        </div>
      </div>
    </article>

    <script></script>
  </body>
</html>
